:root {
  --ff-base: 'Outfit', sans-serif;
  --border-color: rgba(255, 255, 255, 0.1);

  --gap: 1rem;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
a,
span {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

h2 {
  font-size: 2rem;
  padding: 1rem;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
  font-family: var(--ff-base);
  line-height: 1.5;
  height: 100vh;
  margin: 0;
}

.flex {
  display: flex;
  gap: var(--gap);
}

/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hamburger {
  display: none;
}

.primary-header {
  align-items: center;
  justify-content: space-between;

}

.primary-header a {
  transition: all 350ms ease-in-out;
}

.primary-header a:hover {
  opacity: 0.7;
}

.logo a i {
  font-size: 1rem;
  position: fixed;
  z-index: 9999;
  top: 2.3rem;
  left: 3rem;
  aspect-ratio: 1;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5rem;
}



.primary-navigation>li>a {
  font-size: 0.8rem;
}

.nav-social-section {
  align-items: center;
  gap: 0.5rem;
}

.nav-social-section>a>i {
  font-size: 0.7rem;

}

@media (max-width: 40em) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    transform: translateX(100%);
    transition: all 350ms ease-out;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }

  .primary-navigation[data-visible="true"] {
    transform: translate(0%);
  }

  .logo a i {
    font-size: 1rem;
    position: fixed;
    z-index: 9999;
    top: 3rem;
    left: 3rem;
    aspect-ratio: 1;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
    border: 0;
    top: 2rem;
    right: 2rem;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  /* testr */

  .active .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  .active svg {
    transform: rotate(-45deg);
  }

  /* End */

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../assets/shared/icon-close.svg");
  }

  .hamburger[aria-expanded="true"] {}
}

@media (min-width: 40em) and (max-width: 55em) {
  .primary-navigation a>[aria-hidden] {
    display: none;
  }
}

@media (min-width: 40em) {
  .primary-navigation {
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }
}








/*  
.navbar {
  z-index: 999;
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  width: 100%;
}

 .navbar>.nav-section {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#nav-logo-section {
  justify-content: flex-start;
  flex-grow: 1;
}


.nav-section>a {
  font-size: 0.7rem;
  transition: all 300ms ease;
}

.nav-section>a:hover {
  opacity: 0.5;
}

#nav-logo-section>a>i {
  font-size: 2rem;
}

#nav-link-section {
  gap: 4rem;
} 

@media (max-width: 40rem) {
  #nav-social-section {
    display: none;
  }
}*/

.section-home {
  display: grid;
  place-items: center;
  width: min(1000px, 100% - 3rem);
  height: 100vh;
  margin-inline: auto;
}

.section-home .home-title {
  font-size: 1rem;
}

.line-1 {
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 5.8em;
  }
}

.section-project {
  height: 100%;
}

.project-section-header {
  text-align: center;
}

.project>a>img {
  opacity: 0.5;
  transition: all 0.5s;
}

.project>a>img:hover {
  opacity: 0.8;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* ===== Certificate Section ===== */
.section-certificate {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(100vw - 10rem);
  margin-inline: auto;
}

.certificate-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.certificate-grid {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 2rem;
}

.certificate-grid::-webkit-scrollbar {
  height: 0.30rem;
}

.certificate-grid::-webkit-scrollbar-track {
  background-color: #111;
}

.certificate-grid::-webkit-scrollbar-thumb {
  border-radius: 50vw;
  background-color: #fff;
}

.certificate {
  width: 35rem;
  border-radius: 0.25rem;
  padding: 2rem;
  background-color: #111;
  color: #fff;
}

.certificate-title {
  font-size: 1.2rem;
}

.certificate>p {
  font-weight: 200;
}

.footer>a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: x-small;
  font-weight: 100;
  padding: 1rem;
}

@media (max-width: 60rem) {

  .certificate {
    font-size: 1rem;
    width: 100%;
  }

  .certificate-grid {
    display: grid;
    grid-auto-flow: row;
    overflow: hidden;
    overflow-y: auto;
  }

  .section-certificate {
    width: min(100vw - 3rem);
  }

  .certificate-grid::-webkit-scrollbar {
    width: 0.4rem;
  }

  .certificate-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
  }

}

.footer {
  padding: 1rem;
  font-size: x-small;
  text-align: center;
}