:root {
  --ff-base: 'Outfit', sans-serif;
  --border-color: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
a,
span {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
  font-family: var(--ff-base);
  line-height: 1.5;
  height: 100vh;
  margin: 0;

}

#navbar {
  z-index: 999;
  display: flex;
  width: 100vw;

  position: fixed;
  top: 0;
  width: 100%;
}

.navbar>.nav-section {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  /* border: 1px solid var(--border-color); */
}

#nav-logo-section {
  justify-content: flex-start;
  flex-grow: 1;
}

.nav-section>a {
  font-size: 0.7rem;
  transition: all 300ms ease;
}

.nav-section>a:hover {
  opacity: 0.5;
}

#nav-logo-section>a>i {
  font-size: 2rem;
}

#nav-link-section {
  gap: 4rem;
}

@media (max-width: 40rem) {
  #nav-social-section {
    display: none;
  }
}

.main>section {
  height: 100vh;
  height: 100dvh;
  margin-inline: auto;
}

.main>section:nth-child(2) {
  height: 100%;
}

.welcome-section {
  display: grid;
  place-items: center;
  width: min(1000px, 100% - 3rem);
}

.welcome-section .welcome-title {
  font-size: 1rem;
}

.line-1 {
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 11.2em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}


/* Projects */

.project-section {}

.project-section-header {
  text-align: center;
  margin-bottom: 2em;
}


.project-grid {
  display: grid;
  gap: 0.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five'
    'six';
  padding-block: 2rem;
  /* width: min(80%, 70rem); */
  margin-inline: auto;
}

.project:nth-child(1) {
  grid-area: one;
}

.project:nth-child(2) {
  grid-area: two;
}

.project:nth-child(3) {
  grid-area: three;
}

.project:nth-child(4) {
  grid-area: four;
}

.project:nth-child(5) {
  grid-area: five;
}

.project:nth-child(6) {
  grid-area: six;
}

.project>a>img {
  height: 100%;
  object-fit: cover;
}

.project {
  opacity: 0.4;
  transition: all 300ms ease;
}

.project>a {
  position: relative;
}

.project:hover .project-text {
  opacity: 1;
  transform: translateY(0);
}

.project .project-text {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px black;
  color: white;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(60px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  backdrop-filter: blur(8px);
}

.project:hover {
  opacity: 0.8;

}

@media (min-width: 30em) {
  .project-grid {
    grid-template-areas:
      'one one'
      'two five'
      'three five'
      'four four'
      'six six';
  }
}

@media (min-width: 50em) {
  .project-grid {
    grid-template-areas:
      'one one five five'
      'three two two two'
      'three four four four'
      'six six six six'
    ;
  }
}


/*  */

.certificate-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.certificate-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(100vw - 10rem);
}

.certificate-grid {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 2rem;
}

.certificate-grid::-webkit-scrollbar {
  height: 0.75rem;
}

.certificate-grid::-webkit-scrollbar-track {
  background-color: #111;
}

.certificate-grid::-webkit-scrollbar-thumb {
  border-radius: 50vw;
  background-color: #fff;
}

.certificate {
  width: 35rem;
  border-radius: 0.25rem;
  padding: 2rem;
  background-color: #111;
  color: #fff;
  overflow-x: auto;
}


.certificate-title {
  font-size: 1.2rem;
}

.certificate>p {
  font-weight: 200;
}

.footer>a {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: x-small;
  font-weight: 100;
  padding: 1rem;
}